* {
    box-sizing: border-box;
    margin: 0;
}

.main-header {
    height: 15vh;
    width: 100%;
    background-color: #ff7f00;
    /* position: fixed; */
}

.header-gallery {
    height: 60px;
    width: 100%;
    margin: 0;
}

.images-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 50px;
    grid-gap: 20px 20px;
    border: 20px solid #e3e3e3;
    padding: 20px;
}

img {
    width: 100%;

}

.images-container img {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
}

.images-container img:hover {
    cursor: pointer;
    background-color: #e3e3e3;
    border: 2px solid black;
    transition: background-color 0.1s ease-in;
}

.create-meme {
    background-color: #e3e3e3;
}

.btn:hover {
    cursor: pointer;
}

.main-menu .box {
    justify-content: center;
    align-items: center;
}

.main-menu .box:hover {
    border-block-end: 6px solid var(--clr2);
}

.set-color {
    width: 60px;
    height: 60px;
    opacity: 0;
}

.galery,
.meme,
.about {
    font-size: 30px;
    width: 150px;
    height: 15vh;
    text-align: center;
    justify-self: center;
}

a {
    font-weight: 1500;
    color: black;
    text-decoration: none;
}

.logo {
    font-size: 35px;
    font-family: montserrat;
}

.btn {
    border: none;
    background-color: white;
    border-radius: 12px;
}

footer {
    height: 10vh;
    width: 100%;
    background-color: #ff7f00;
    /* position: fixed; */
    bottom: 0;
}

.search-box {
    width: 25%;
    font-size: 16px;
}

.create-meme {
    flex-direction: column;
}

/* helpers */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.hide {
    display: none;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.editing-bord {
    width: 500px;
    justify-content: space-around;
    padding: 50px;
    margin: 40px;
    border: 1px black solid;
    border-radius: 12px;
}

.canvas {
    margin: 40px;
    /* margin-bottom: 0; */
    border-radius: 12px;
    border: 1px black solid;
}

/* ///////////////////////// */

.editing-bord {
    grid-template-columns: 60px 18px 60px 18px 60px 18px 60px 18px 60px;
    grid-template-rows: 60px 10px 60px 43px 60px 10px 60px 30px 135px;
    grid-template-areas:
        " text text text text text text text text text "
        " . . . . . . . . . "
        " . . replace . add . delet . . "
        " . . . . . . . . . "
        " increase . decrease . left . center . right "
        " . . . . . . . . . "
        " font font font font font . stroke . color "
        " . . . . . . . . . "
        " emojis emojis emojis emojis emojis emojis emojis emojis emojis ";
}

.text-input {
    grid-area: text;
    font-size: 20px;
    /* width: 373px; */
}

.replace {
    grid-area: replace;
    background: src="";
}

.add-line {
    grid-area: add;
}

.delet {
    grid-area: delet;
    font-size: 35px;
}

.increase {
    grid-area: increase;

}

.decrease {
    grid-area: decrease;
}

.align-left {
    grid-area: left;
}

.align-center {
    grid-area: center;
    /* font-size: 35px; */
}

.align-right {
    grid-area: right;
    font-size: 35px;
}

.font {
    grid-area: font;
    width: 220px;
    font-size: 20px;
}

.strokeColor {
    grid-area: stroke;
    height: 60px;
    width: 60px;
}

.color-picker {
    grid-area: color;
    height: 60px;
    width: 60px;
}

.emojis {
    grid-area: emojis;
    /* width: 373px; */
    /* height: 135px; */
}

.download {
    height: 30px;
}

.keywords-box {
    border: 2px black solid;
    width: 50%;
}



/* qs */

@media (min-withd: 800px) {
    .images-container {
        background-color: green;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .create-meme {
        flex-direction: row;
        background-color: blue;
    }
}


/* font-face */

@font-face {
    font-family: lato-bold;
    src: url(/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: lato;
    src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: euro;
    src: url(/fonts/eurof55.ttf);
}

@font-face {
    font-family: impact;
    src: url(/fonts/impact.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}