* {
    box-sizing: border-box;
    margin: 0;
}


.main-header {
    height: 15vh;
    width: 100%;
    background-color: #ff7f00;
    /* position: fixed; */
}

.header-gallery {
    width: 1200px;
    height: 100px;
    margin: 0;
}

.images-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 30px 30px;
    grid-gap: 10px 10px;
    background-color: #e3e3e3;
}

.images-container img {
    width: 100%;
    padding: 10px;
    /* grid-column-start: 2; */
    /* grid-column-end: 4; */
    /* grid-column: 2/ -1; */
    /* height: 100%; */
    /* margin: 30px 30px; */
    border: 1px solid black;
    border-radius: 2px;
    /* transition: width 2s ease-in-out; */
    /* transition: height 2s ease-in-out; */
    /* transition: margin 2s ease-in-out; */
}

.create-meme {
    background-color: #e3e3e3;
}

/* .images-gallery img:hover {
    cursor: pointer;
    width: 310px;
    height: 310px;
    margin: 0;
    transition: width 2s;
    transition: height 2s;
    transition: margin 2s;
} */

button:hover {
    cursor: pointer;
}

.main-header .main-menu .box {
    display: flex;
    width: 130px;
    /* height: 130px; */
}

.main-menu .box {
    justify-content: center;
    align-items: center;
}

.main-menu .box:hover {
    border-block-end: 6px solid var(--clr2);

}

.main-header .main-menu .box:hover a {
    color: var(--clr2);
}

.galery,
.memes,
.about {
    font-size: 30px;
}

.logo {
    font-size: 30px;
    font-family: montserrat;
}

.grid {
    display: grid;
}

.hide {
    display: none;
}

.flex {
    display: flex;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.btn {
    border: none;
    background-color: white;
    border-radius: 12px;
    /* width: 60px; */
    /* height: 60px; */
}

/* ///////////////////////// */

.editing-bord {
    grid-template-columns: 60px 18px 60px 18px 60px 18px 60px 18px 60px;
    grid-template-rows: 25px 60px 10px 60px 43px 60px 10px 60px 30px 135px;
    grid-template-areas:
        " . . . . . . . . . "
        " text text text text text text text text text "
        " . . . . . . . . . "
        " . . replace . add . delet . . "
        " . . . . . . . . . "
        " increase . decrease . left . center . right "
        " . . . . . . . . . "
        " font font font font font . stroke . color "
        " . . . . . . . . . "
        " emojis emojis emojis emojis emojis emojis emojis emojis emojis "
    ;
}

.text-input {
    grid-area: text;
    /* width: 373px; */
}

.replace {
    grid-area: replace;
}

.add-line {
    grid-area: add;
}

.delet {
    grid-area: delet;
}

.increase {
    grid-area: increase;
}

.decrease {
    grid-area: decrease;
}

.left {
    grid-area: left;
}

.center {
    grid-area: center;
}

.right {
    grid-area: right;
}

.font {
    grid-area: font;
    width: 220px;
    font-size: 20px;
}

.strokeColor {
    grid-area: stroke;
    height: 60px;
    width: 60px;
}

.set-color {
    grid-area: color;
    height: 60px;
    width: 60px;
}

.emojis {
    grid-area: emojis;
    /* width: 373px; */
    /* height: 135px; */
}

.keywords-box {
    border: 2px black solid;
}

li {
    display: flex;
    width: 120px;
}

footer {
    height: 10vh;
    width: 100%;
    background-color: #ff7f00;
    /* position: fixed; */
    bottom: 0;
}




@font-face {
    font-family: lato-bold;
    src: url(/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: lato;
    src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: euro;
    src: url(/fonts/eurof55.ttf);
}

@font-face {
    font-family: impact;
    src: url(/fonts/impact.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}